.container{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
}

.grid{
    border: 1px solid white;
    width: 50px;
    aspect-ratio: 1/1;
    
}


.color{
    background-color: hsl(var(--color,4),90%,60%);
    
}

.active{
    background-color: orangered;
}
