.container{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
}

.grid{
    background-color: orange;
    border: 1px solid red;
    width: 50px;
    aspect-ratio: 1/1;

}

.active{
    background-color: orangered;
}

